<mat-toolbar>
  <mat-toolbar-row>
    <span>Upload File</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<form
  class="create-folder-form"
  [formGroup]="formGroup"
  (ngSubmit)="uploadFile()"
>
<mat-form-field appearance="outline">
  <mat-label>{{
    "features.tables.add-dialog.field_delimiter" | transloco
    }}</mat-label>
  <mat-select formControlName="field_delimiter">
    <mat-option value=",">{{
      "features.tables.add-dialog.comma" | transloco
      }}</mat-option>
    <mat-option value=" ">{{
      "features.tables.add-dialog.tabulation" | transloco
      }}</mat-option>
    <mat-option value="perso">{{
      "features.tables.add-dialog.perso" | transloco
      }}</mat-option>
  </mat-select>
  <mat-error *ngIf="formGroup.get('field_delimiter')?.hasError('required')">
    {{ "common.form.required" | transloco }}
  </mat-error>
</mat-form-field>

<ng-container *ngIf="formGroup.get('field_delimiter')?.value === 'perso'">
  <mat-form-field appearance="outline">
    <mat-label>{{
      "features.tables.add-dialog.custom" | transloco
      }}</mat-label>
    <input matInput formControlName="custom_field_delimiter" />
    <mat-error *ngIf="formGroup.get('custom_field_delimiter')?.hasError('required')">
      {{ "common.form.required" | transloco }}
    </mat-error>
    <mat-error *ngIf="formGroup.get('custom_field_delimiter')?.hasError('maxlength')">
      {{
      "features.folder-detail.costum" | transloco
      }}
    </mat-error>
  </mat-form-field>
</ng-container>
  <mat-form-field class="full-width"  appearance="outline">
    <mat-label>Performance writing</mat-label>
    <mat-select placeholder="Performance writing "formControlName="write_disposition">
      <mat-option value="WRITE_APPEND">
        {{
          "features.tables.add-dialog.append" | transloco
          }}      </mat-option>
      <mat-option value="WRITE_TRUNCATE">
        {{
          "features.tables.add-dialog.overwrite" | transloco
          }}
      </mat-option>
    </mat-select>
</mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{
      "features.tables.add-dialog.skip_leading_rows" | transloco
    }}</mat-label>
    <input matInput formControlName="skip_leading_rows" type="number" />
    <mat-error *ngIf="formGroup.get('skip_leading_rows')?.hasError('required')">
      {{ "common.form.required" | transloco }}
    </mat-error>
  </mat-form-field>
  <div class="upload-file-form">
    <div class="upload-zone">
      <input
        type="file"
        class="file-input"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"        (change)="onFileSelected($event)"
        #fileUpload
      />

        <div (click)="fileUpload.click()" class="file-name">
          <img
          src="../../../../../assets/images/csv.png"
          (click)="fileUpload.click()"
        />
          {{ file?.name || ("common.form.empty-file" | transloco) }}
      </div>
    </div>
  </div>
  <mat-progress-bar *ngIf="FileProgessSize" mode="determinate" [value]="percentDone"></mat-progress-bar>
  <div *ngIf="FileProgessSize">
    {{ FileProgessSize }} of {{ fileSize }}
  </div>
  <button mat-flat-button color="primary" type="submit" [disabled]="loader ||( !formGroup.valid || !file)">
    {{ "features.folders.add-dialog.action" | transloco }}
    <mat-icon *ngIf="loader"><mat-spinner color='#5086ec' diameter="18"></mat-spinner></mat-icon>
  </button>
</form>
