<mat-card>
    <mat-card-header>
        <img src="../../../assets/images/logo.png" class="logo" alt="" srcset="">
    </mat-card-header>
    <mat-card-content>
        <h2>Welcome</h2>
        <h3>Please, continue with Google</h3>
    </mat-card-content>	
    <mat-card-footer>
        <button  mat-flat-button (click)="signInWithGoogle()">
            <div class="text-with-icon">
            <img src="assets/images/google.svg" height="28" />
            <span>Continue with Google</span>
            </div>
        </button>
    </mat-card-footer>    
</mat-card>
