<h1>
  {{ 'features.settings.title' | transloco }}
</h1>
<app-loader *ngIf="showInput == null"> {{ 'loading.default' | transloco }} </app-loader>

<mat-card>
  <h2 *ngIf="showInput== false">
    {{ 'features.settings.service-account.title' | transloco }}
  </h2>
  <h2 *ngIf="showInput== true">
    {{ 'features.settings.email' | transloco }}
    : {{emailAS}}
  </h2>
  <div class="btn-setting" *ngIf="showInput==true">
    <button mat-flat-button color="primary" type="button" (click)="showUpload()">
      Update Your Account Service
    </button>
  </div>
  <div class="service-account-form" *ngIf="showBtn == true || showInput == false ">
    <div class="upload-zone" (click)="fileUpload.click()">
      <input type="file" class="file-input" accept=".json" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">
        <button mat-icon-button color="primary" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <div (click)="fileUpload.click()" class="file-name">
          {{ file?.name || ('common.form.empty-file' | transloco) }}
        </div>
      </div>
    </div>
    <div class="flex-position-end">
      <button mat-flat-button color="primary" type="button" [disabled]="!file" (click)="submitFile()">
        {{ 'features.settings.service-account.submit' | transloco }}
      </button>
    </div>
  </div>

</mat-card>
